{% extends "BRSCoreBundle:Blocks:base.html.twig" %}

{% block block_content %}
<section>
  <header>
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{% if page is defined %}{{ page.site.name }}{% endif %}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="{% if app.request.attributes.get('path')=='/' %}active{% endif %}"><a href="/">Home</a></li>
                {% if page is defined %}
                  {% for child in page.children %}
                    <li class="{% if app.request.attributes.get('path') == child.url %}active{% endif %}"><a href="{{ path(child) }}" title="{{ child.name|escape }}">{{ child.name }}</a></li>
                  {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="splash container">

      <div class="splash-inner row">
        <div class="col-sm-8">
          {{block.settings.content|raw}}
          <a href="#" class="btn btn-primary">Take action</a>
        </div>
      </div>
    </div>
  </header>
</section>
{% endblock %}