<ul class="pineapple-widget-list media-list">
	
	{% for pineapple in pineapples %}
		
		<li class="pineapple-widget-icon {{ pineapple.class }}" data-widget-type="{{ pineapple.id }}">
			<img src="{{ pineapple.icon|default('/lib/images/core/no-image.png') }}" class="media-object" title="{{pineapple.title}}" alt="{{pineapple.title}}">
		</li>
		
	{% endfor %}
	
</ul>