{% form_theme form 'BRSPineappleBundle:Form:block-settings-theme.html.twig' %}

{{ form_start(form) }}

	<div class="row actions">
		<div class="col-sm-8"><h3>Block Settings</h3></div>
		<div class="col-sm-4 text-right">
			<button class="btn btn-primary pineapple-save">Save</button>
			<button class="btn btn-info pineapple-settings-cancel">Cancel</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-{% if form.offsetExists('settings') and form.offsetGet('settings').offsetExists('media') %}9{% else %}12{% endif %}">
			
			<h4>Content</h4>
			
			{% if form.offsetExists('settings') and form.offsetGet('settings').offsetExists('content') %}
				{{ form_widget(form.settings.content) }}
			{% endif %}
			
		</div>
		
		{% if form.offsetExists('settings') and form.offsetGet('settings').offsetExists('media') %}
			<div class="col-md-3">
				<h4>Media</h4>
				{{ form_widget(form.settings.media) }}
				<h4>Title</h4>
				{{ form_widget(form.settings.media_title) }}
				<h4>Alt</h4>
				{{ form_widget(form.settings.media_alt) }}
			</div>
		{% endif %}
	</div>
	
	{{ form_rest(form) }}
	
{{ form_end(form) }}